<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvents</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <br>
    <br>
    <%= link_to 'Events', root_path%>
    <br>
    <% if session[:id] == nil%>
      <%= link_to "Login", users_sign_in_path%>
    <% else %>
      <%= "Logged in as: " %>
      <%= link_to session[:username], "/users/#{session[:id]}"%>
      <br>
      <%= link_to "Logout", users_log_out_path, method: :delete%>
      <br>
      <%= link_to "Create Event", new_event_path%>
    <% end %>
    <%= yield %>
  </body>
</html>
